@CHARSET "ISO-8859-1";

.root {
    -fx-background-image: url("background_fix.png");
}

.gameScoreLabel {
    -fx-text-fill: white;
    -fx-font: bold 30pt "Consolas";
    -fx-effect: dropshadow( one-pass-box , green , 5 , 0.5 , 3 , 3 );
}

.text-area {
    -fx-background-color: rgba(53,89,119,0.4);
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.gameScoreDisplay {
    /*-fx-background-color: rgba(53,89,119,0.4);
    -fx-background-color: transparent;*/
    /*-fx-text-alignment: CENTER-CENTER;
    -fx-alignment: CENTER-CENTER;*/
    -fx-text-fill: #00ff00;
    -fx-font: bold 25pt "Consolas";
}

.roundScoreDisplay {
    -fx-text-fill: pink;
    -fx-font: bold 15pt "Consolas";
}


.playerTag {
    -fx-text-fill: white;
    -fx-effect: dropshadow( one-pass-box , pink , 5 , 0.5 , 1 , 1 );
    -fx-font: bold 25pt "Arial";
}

.scoreTag {
    -fx-background-color:
        #ecebe9,
        rgba(0,0,0,0.05),
        linear-gradient(#dcca8a, #c7a740),
        linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
        linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font: bold 15pt "Arial";
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.newRound_button {
    -fx-font: bold 15pt "Arial";/*
    -fx-background-color: linear-gradient(#82ff81, #28872c);
    -fx-text-fill: #383640;*/
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -10%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
.newRound_button:hover {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#28872c, #82ff81);
    -fx-font: bold 15pt "Arial";
    -fx-background-color:
        radial-gradient(center 50% -15%, radius 200%, #80c800 45%, #b8ee36 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( one-pass-box , white , 5 , 0.0 , 5 , 5 );
}

.hit_button {
    -fx-font: bold 18pt "Arial";
    /*-fx-background-color: linear-gradient(#9EA7E5, #61a2b1);*/
    -fx-background-color:#ff8080;
    -fx-text-fill: #383640;
}

.hit_button:hover {
   /*  -fx-background:url("small_paw.gif") no-repeat;*/
   /*-fx-background-color: linear-gradient(#2A5058, #61a2b1);*/
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( one-pass-box , white , 5 , 0.0 , 5 , 5 );
}

.hit_button:focused {
    /*-fx-background-color: linear-gradient(#ff7f50, #990000);*/
    -fx-text-fill: #ffffff;
}
.stand_button {
    -fx-font-size: 15px;
    -fx-font: italic 20pt "Arial";
    -fx-background-color:linear-gradient(#9EA7E5, #61a2b1);
}

.stand_button:hover {
   -fx-background-color: linear-gradient(#2A5058, #61a2b1);
   -fx-effect: dropshadow( one-pass-box , white , 5 , 0.0 , 5 , 5 );
   -fx-text-fill: #ffffff;
}
